 @import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Fuggles&display=swap');

/* alinhamento de texto */

.Alinhamento-direita{
text-align: right;

}

.alinhamento-esquerda{
    text-align: left;
}

.Centralizar-container{
    text-align: center;
    width: 200px;
    border: 4px solid salmon;
    border-radius: 30px;
}
.alinhamento-justificado{
    text-align: justify;
    color: chocolate;
    border: 3px solid salmon;
    width: 200px;
    border-radius: 20px;
    margin: 5px;
}

/* text decoretion */

.underline{
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through solid red;
}

.Overline{
    text-decoration: overline;
}

.remove-underline{
   text-decoration: none;
   color: chocolate;
}
/* espaçamento entre letras */
.spacing{
    letter-spacing: 10px;
    color: bisque;
    text-decoration: underline solid burlywood;
    
}

/* fonte */
.fonte-serif{
font-family: serif;
}
.fonte-Fantasy{
font-family: fantasy;
}
.fonte-monoSpace{
font-family: monospace;
}
.fonte-Cursive{
font-family: cursive;
}
.fonte-sanserif{
font-family: sans-serif;
}
/* trazendo fonte do goolge */
.Trazendo-familiaDeFonte{
    font-family: Arial, Helvetica, sans-serif;
}
.importando-fonte{
    font-family: 'Croissant One', cursive;
}
.importando-fonte2{
font-family: 'Fuggles', cursive;
}
/*Estilo de fonte  */


.Normal{
font-style: normal;
}

.Italic{
font-style: italic;
}
.Oblique{
font-style: oblique;
}
/* Espessura da fonte */

.lhither, .bold,.bolder{
font-family:Helvetica;
}
.lhither{
    font-weight: 100;
}
.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 900;
}
/* Tamanho da fonte */

.tamanho-30px{
font-size: 30px;
}
.tamanho-150px{
font-size: 150px;
}

.xx-small{
font-size: x-small;
}
.xx-Large{
font-size: larger;
}
/* Display-block */
.inline-block{
    height: 500px;
    width: 500px;
    background-color:#754 ;
    font-size: xx-large;
    color: white;
    margin: 15px;
    display: inline-block;
}
/* display:bloco de exibição */
    .block{
        background-color:blueviolet ;
        font-size:xx-large ;
        color: white;
        margin: 10px;
        display: block;

    }
    /* escondendo elemento */
    .escondendo{
        display: none;
    }

    /* Posição estatica */
    /* Ele segue o fluxo padrao do html,static nao é afetado por,top,left,right,bottom */
    .Estatic{
        background-color: #848;
        color: white;
        height: 100px;
        width: 100px;
        position: static;
    }

    .relATIve{
        width: 100px;
        height: 100px;
        color: white;
        background-color:blue;
        position: relative;
        top: 50px;
        left: 50px;

    }

    .absolute{
        position: absolute;
        width: 100px;
        height: 100px;
        background-color:#785;
        color: #fff;
        margin-top: 2px;
        right: 2px;
    }

    /* position relative + absoluta */
    
    .block-relativo{
        position: relative;
        width: 250px;
        height: 250px;
        border: 2px solid blue;
        margin-top: 100px;
        
    }
    .bloco-absoluto-1,.bloco-absoluto-2{
      
        width: 70px;
        height: 70px;
        background-color: brown;
        position: absolute;
       
    }
        .bloco-absoluto-1{
            top: 10px;
            left: 10px;
        }
        .bloco-absoluto-2{
            bottom: 10px;
            right: 10px;
        }

    /*posição fixada  */
    .bloco-fixado{
        width:100px ;
        height: 100px;
        background-color:blue;
        position: fixed;
        top: 100px;
        
    } 

    /* posição sticky */
    .sticky{
        width: 150px;
        height: 15opx;
        background-color: firebrick;
        color: aliceblue;
        border: 2px solid black;
        position: sticky;
        top: 10px;
        margin-right:1500px ;    
    }



    /* z-index */
    .bloco-absoluto-5,.bloco-absoluto-6,.bloco-absoluto-7{
        width: 50px;
        height: 60px;
        background-color: coral;
        position: absolute;
    }


    .bloco-absoluto-5{
        top: 0;
        left: 0;
        z-index: 3;
    }

    .bloco-absoluto-6{
        top: 15px;
        left: 15px;
        background-color: darkgreen;
        z-index: 2;
    }

    .bloco-absoluto-7{
        top: 30px;
        left: 30px;
        background-color: lightseagreen;
        z-index: 1;
    }